{% extends 'base.html' %}

{% block bodycontent %}
  <br>
  <p>Sort by:</p>
    <ul>
      <li><a href="{% url 'citysubcategorylistview' city category subcategory %}">Date</a></li>
      <li><a href="{% url 'subcategorysortpriceasc' city category subcategory %}">Price Lowest-Highest</a></li>
    </ul>
  <h3>Displaying items for {{ subcategory }}</h3>
  {% for item in listing %}
    <p><b>{{ item.title }}</b>  <a href="{% url 'userprofileview' item.user %}">{{item.user}}</a></p>
    <p>{{item.price}}</p>
    <p><a href="{% url 'postdetailview' item.id %}">Details</a></p>
  {% endfor %}
  <a href="{% url 'citycategorylistview' city category %}">Return to Subcategories List</a>
{% endblock %}
