{% extends 'base.html' %}

{% block bodycontent %}
  <h3>Showing items for {{ subcategory }} by date created</h3>

  <p>Sort by:</p>
  <a class='btn btn-default' href="{% url 'offerpostpriceascgalleryview' city category subcategory %}">Price Lowest-Highest</a>
  <a class='btn btn-default' href="{% url 'offerpostpricedescgalleryview' city category subcategory %}">Price Highest-Lowest</a>
  <p>View as:</p>
  <a class='btn btn-default' href="{% url 'citysubcategorylistview' city category subcategory %}">List</a>
  <a class='btn btn-default' href="{% url 'offerpostdatesortthumbview' city category subcategory %}">Thumbnails</a>
  <br>
  <hr>
  {% for item in offerposts %}

  <div class="row">
      <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{item.photo_url}}">
                          <div class="caption">
                            <h3>{{item.title}}</h3>
                              <p>{{item.price}}$ {{item.date}}</p>
                              <p><a href="{% url 'userprofileview' item.user %}" class="btn btn-primary" role="button">{{item.user}}</a> <a href="{% url 'postdetailview' item.id %}" class="btn btn-default" role="button">Details</a></p>
                                                          </div>
                                                              </div>
                                                                </div>
                                                              </div>

  {% endfor %}
{% endblock %}
